/*Setting these styles for the whole body*/
body {
    background-color: white;
    margin: 0;
    display: block;
    font-family: arial, sans-serif;
    font-size: small;
}

/*Styles for the elements in the first container*/
.iconsandlinks {
    margin: 0;
    position: fixed;
    background: white;
    
}

/*Styles for logo and search bar*/
.logoandsearch {
    float: left;
}

/*Styles for the second container*/
.googleappsandsignin {
    float: right;
    position: relative; /*since position: fixed moves these two to the center of web page, the position property with its value "relative" and right property (one of the helper property's that is declared too when position: relative is decalred) are used as in this case it moves them to the right of web page*/
    right: -350px;
}