/*Setting these styles for the whole body*/
body {
    background-color: white;
    margin: 0;
    display: block;
    font-family: arial, sans-serif;
    font-size: small;
}

/*Styles for the elements in the first container*/
.iconsandlinks {
    margin: 0;
    position: fixed;
    background: white;
    
}

/*Styles for logo and search bar*/
.logoandsearch {
    float: left;
}

/*Styles for the second container*/
.googleappsandsignin {
    float: right;
    position: relative; /*since position: fixed moves these two to the center of web page, the position property with its value "relative" and right property (one of the helper property's that is declared too when position: relative is decalred) are used as in this case it moves them to the right of web page*/
    right: -350px;
}

/*Styles for the Google logo link*/
#logo {
    margin-left: 10px;
    text-decoration: none;
    margin-right: 0;
}

/*Styles for search bar*/
form input, form image {
    line-height: 40px;
    margin-top: 0;
    margin-left: 150px;
    padding-top: 0;
    padding-left: 25px; /*move blinking cursor within text-field a little more to the right*/
    border: 1px solid rgb(201, 194, 194);
    border-radius: 30px;
    position: relative; /*moves the search bar to the top along with using the top "helper" property*/
    top: -65px;
    
}

/*Removing blue border around search bar when clicking on it*/
input[type="text"] {
    outline: none; 
 }

 /*Adding blurry box-shadow around search bar when cursor hovers over it*/
 input:hover {
    box-shadow: 1px 1px 5px 1px rgb(194, 194, 194);
}

/*Styles for microphone and magnifying glass*/
.mic-and-magnifying-glass {
    float: right;
}

/*Styles for microphone*/
#mic {
    margin: 1px;
    position: relative; /*This along with the "helper" properties beneath it moves the image/icon into the search bar  to appear on the right side*/
    top: -52px;
    right: 127px;

}

/*Styles for magnifying glass*/
#magnifyingglass {
    margin: 13px;
    position: relative;
    top: -64px;
    right: 60px;

}

/*Styles for google apps*/
#googleapps {
    color: grey;
    margin: 10px;
    padding: 2px;
    position: relative;
    top: 7px;
}

/*Google Apps icon turns black when cursor hovers over it*/
#googleapps:hover {
    color: black;
}

/*Styles for Sign in button*/
#signin {
    margin: 7px 14px 0 3px;
    border: 1px solid #4285f4;
    background-color: #4285f4;
    padding: 6px 8px;
    font: 13px  sans-serif, arial bolder;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

/*Blurry box shadow when cursor hovers over Sign in button*/
#signin:hover {
    box-shadow: 1px 1px 1px rgb(167, 164, 164);
}

/*Styles for the tabs in second container*/
.tabs {
    margin: 1px 15px;
    padding: 2px 200px 20px 105px;
    border-bottom: 1px solid rgb(206, 204, 204);
}

/*Change color for the top left tabs, icons and settings tab when cursor hovers over it*/
a.toplefttabs:hover, i.material-icons:hover, #settings:hover {
    color: blue;
    text-decoration: none;
}

/*having a box around the text when cursor hovers over it*/
#tools:hover {
    border: 1px solid rgb(177, 174, 174);
    border-radius: 3px;
    padding: 10px;
    background-color: rgb(245, 240, 240);
}

/*Styles to tabs on the left*/
.toplefttabs {
    color: grey;
    text-decoration: none;
    line-height: 4px;
    word-spacing: 5px;
    margin: 9px 15px 0 13px;
    font: 13px sans-serif, arial;
    padding-bottom: 1px;
    
}

/*Styles to tabs on the right*/
.toprighttabs {
    color: grey;
    text-decoration: none;
    line-height: 4px;
    word-spacing: 5px;
    margin: 9px 15px 0 25px;
    font: 13px sans-serif, arial;
}

/*Making the All tab blue with a blue underline*/
#all {
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 20px;
}

/*Styles for number of results text*/
#resultsnumber p {
    color: grey;
    font: 13px sans-serif, arial;
    margin-left: 150px;
    margin-top: 2px;
    padding-top: 3px;
    
}

/*Styles for all results */
.result {
    margin: 5px 500px 5px 150px;
 }

  /*Styles for paragraphs of each result and book results*/
.results-paragraph, .book-year-field {
    color: rgb(83, 82, 82);
    font: 13px sans-serif, arial;
    
}

 /*Styles for results titles/links*/
 .resultlinks {
    color: blue;
    font: 20px sans-serif,arial;
    text-decoration: none;
    padding-bottom:  1px;
}

 /*Underline when cursor hovers over links*/
 .resultlinks:hover , .google-book-authors:hover, .links:hover {
    color: blue;
    text-decoration: underline;
}

 /*Styles for urls under results links*/
 .url {
    color: green;
    font: 14px arial, sans-serif;
    text-decoration: none;
}

/*Styles for links under the first result paragraph (Free Website Builder etc.)*/
.links {
    color: blue;
    text-decoration: none;
}

 /*Positioning of 1st result on web page*/
 #result-1 {
    margin: 30px 350px 30px 150px;
    position: relative;
    top: -24px;
    display: block;
}

/*Positioning of 2nd result on web page*/
#result-2 {
    margin: 170px 350px 2px 150px;
    border: 1px solid rgb(184, 179, 179);
    border-radius: 10px;
    padding: 12px;
    display: block;
    font: 17px sans-serif, arial;
    position: relative;
    top: -250px;
}

/*Style for about and feedback under the 2nd result border*/
.aboutandfeedback {
    color: grey;
    font: 12px sans-serif, arial;
    padding-left: 750px;
    position: relative;
    top: -250px;
}


/*Positioning of 3rd result on web page*/
#result-3 {
    margin: 20px 350px 2px 150px;
    border: 1px solid rgb(184, 179, 179);
    border-radius: 10px;
    padding: 12px;
    display: block;
    position: relative;
    top: -300px;
}


 /*Styles for "People who ask" */
 #people-also-ask {
    color: grey;
    font: 20px sans-serif, arial bold;
    border-bottom: 1px solid rgb(184, 179, 179);
    padding-bottom: 15px;
}

/*Styles for questions in "people who ask" box*/
.result-3-a {
    font: 15px sans-serif, arial;
    border-bottom: 1px solid rgb(184, 179, 179);
    padding-bottom: 15px;
}

/*Position of the expand more icon*/
#expand-more {
    float: right;
    padding-right: 4px;
    color: grey;
}

/*Removing the border bottom for this result*/
#result-3-a-1 {
    border-bottom: none;
    padding-bottom: 3px;
}

/*Styles for feedback*/
#feedback {
    color: grey;
    font: 12px sans-serif, arial;
    font-style: italic;
    padding-left: 850px;
    position: relative;
    top: -300px;
}

/*Position of results 4-15 and the last two results enclosed in a box*/
#result-4, #result-5, #result-6 , #result-7, #result-8, #result-9, #result-10, #result-11, #result-12, #result-13, #result-14, #result-15, #otherlinks {
    margin: 20px 350px 2px 150px;
    padding: 12px;
    display: block;
    position: relative;
    top: -300px;
}

/*Styles for author's names*/
.google-book-authors {
    color: blue;
    text-decoration: none;
}

/*Position of results 14 & 15*/
#result-14, #result-15 {
    margin: 20px 350px 2px 150px;
    border: 1px solid rgb(184, 179, 179);
    border-radius: 10px;
    padding: 10px 10px 35px 25px;
    display: block;
}

/*Styles for related search title*/
.related-search {
    color: grey;
    font: 15px sans-serif, arial;
}


/*Styles for titles in last two result boxes*/
.titles {
    color: black;
    font: 20px sans-serif, arial bolder;
}

/*Positioning of the logos*/
.icon-links {
    margin: 27px;
}

/*Styles for the logo texts/links underneath its logo*/
.icon-links-text {
    color: blue;
    text-decoration: none;
    margin: 14px;
}

/*Positioing of the Web designer logo*/
#googlewebdesigner {
    padding-left: 30px;
}

/*Positioning of the Webnode logo*/
#webnode {
    padding-left: 43px;
}

/*Styles for the search results suggestions*/
.morelinks {
    color: blue;
    text-decoration: none;
    font: 15px sans-serif, arial bolder;
}


/*Underline more search results suggestions when cursosr hovers over each one*/
.morelinks:hover {
    color: blue;
    text-decoration: underline;
}

/*Moving the links to the right */
#link2, #link4, #link6, #link8 {
    margin-left: 60px;
    
}

/*Positioning of the pagination image/link*/
.pagination {
    margin-left: 300px;
}

/*Positioning of the pages for pagination*/
.pages {
    margin-left: 450px;
    margin-bottom: 23px;
    
}

/*Styles and positioning of location text at the bottom of the web page*/
#location {
    color: grey;
    background-color: rgb(236, 234, 234);
    font: 14px sans-serif, arial;
    border-top: 1px solid rgb(206, 201, 201);
    border-bottom: 1px solid rgb(206, 201, 201);
    padding: 20px 230px 20px 100px ;
    margin: 0;
    
}

/*Position of the links at the bottom of the web page*/
#bottomnavbar {
    background-color: rgb(236, 234, 234);
    padding: 20px 230px 20px 100px ;
    margin: 0;
}

/*Styles of the bottom links*/
.bottomlinks {
    color: grey;
    font: 14px sans-serif, arial;
    text-decoration: none;
}