/*Setting these styles for the whole body*/
body {
    background-color: white;
    margin: 0;
    display: block;
    font-family: arial, sans-serif;
    font-size: small;
}

/*Styles for the elements in the first container*/
.iconsandlinks {
    margin: 0;
    position: fixed;
    background: white;
    
}

/*Styles for logo and search bar*/
.logoandsearch {
    float: left;
}

/*Styles for the second container*/
.googleappsandsignin {
    float: right;
    position: relative; /*since position: fixed moves these two to the center of web page, the position property with its value "relative" and right property (one of the helper property's that is declared too when position: relative is decalred) are used as in this case it moves them to the right of web page*/
    right: -350px;
}

/*Styles for the Google logo link*/
#logo {
    margin-left: 10px;
    text-decoration: none;
    margin-right: 0;
}

*Styles for search bar*/
form input, form image {
    line-height: 40px;
    margin-top: 0;
    margin-left: 150px;
    padding-top: 0;
    padding-left: 25px; /*move blinking cursor within text-field a little more to the right*/
    border: 1px solid rgb(201, 194, 194);
    border-radius: 30px;
    position: relative; /*moves the search bar to the top along with using the top "helper" property*/
    top: -65px;
    
}

/*Removing blue border around search bar when clicking on it*/
input[type="text"] {
    outline: none; 
 }

 /*Adding blurry box-shadow around search bar when cursor hovers over it*/
 input:hover {
    box-shadow: 1px 1px 5px 1px rgb(194, 194, 194);
}

/*Styles for microphone and magnifying glass*/
.mic-and-magnifying-glass {
    float: right;
}

/*Styles for microphone*/
#mic {
    margin: 1px;
    position: relative; /*This along with the "helper" properties beneath it moves the image/icon into the search bar  to appear on the right side*/
    top: -52px;
    right: 127px;

}

/*Styles for magnifying glass*/
#magnifyingglass {
    margin: 13px;
    position: relative;
    top: -64px;
    right: 60px;

}

/*Styles for google apps*/
#googleapps {
    color: grey;
    margin: 10px;
    padding: 2px;
    position: relative;
    top: 7px;
}

/*Google Apps icon turns black when cursor hovers over it*/
#googleapps:hover {
    color: black;
}